name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]


permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - run: flutter pub get

      # IMPORTANT: If your repository name is NOT 'home', update the base-href below.
      # Example: for repo 'my-app', use "/my-app/"
      - run: flutter build web --base-href "/home/" --release

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
